name: Test Homework 3

on:
  workflow_dispatch:

jobs:
  test_homework3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r homework3/requirements.txt
      - name: Run tests  
        run: |
          cd homework3
          pytest tests
